

{{!-- about us start --}}

<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">We Are The Team To Help You To Go Into IT Sector</p>
<div class="row">

<div class="col-md-6 col-12 hero-text">
  <figure>
    <img src="images/functionup image.png" class="img-fluid" alt="Responsive image">

  </figure>

</div>

  {{!-- right side --}}

  <div class="col-md-6 col-12 hero-text d-flex justify-content-center-align-items-start flex-column">
<h1>We Are Not An Organisation We are A Family</h1>
<P>In Our Organisation We Have Knowledgable Teachers From IIT <span class="bold-style">They Are Certified professional Developer ❤️🥳✌️😍✌️❤️</span>

We are a team of IIT / ISB alumni who are passionate about solving the key problem of starting a career in tech. A lot of smart and hardworking graduates find it difficult to crack high paying tech jobs either because of their background and their college not being able to help them get interviews. Hence, we started this placement bootcamp that hand holds people from skilling till employment.</P>
<button class="btn-style  btn btn-primary">Read more</button>
  </div>


</div>
    </div>
  </div>
</div>

{{!-- about us ends --}}