<div class="containee-fluid mt-5 contact-style" id="contactid">

<h1 class="text-center main-heading">Contact us </h1>
      <p class="text-center sub-heading">we will be happy to help you</p>
        <div class="form">

          <form action="/contact" method="POST">
            <label for="">Name</label>
            <div class="form_input">
            <input type="text"
            placeholder="Enter Your Name" name="name">
            </div>
            
            <label for="">Email</label>
            <div class="form_input">
            <input type="email" 
            placeholder="Enter your Email" name="email">
            </div>

            <label for="">Contact</label>
            <div class="form_input">
            <input type="number"
            placeholder="Enter Your Mobile Number" name="phone">
            </div>

            <label for="">Message</label>
            <div class="form_input">
            <input type="text"
            placeholder="Enter your Query" name="message">
            </div>
              
              <button class="btn">Submit</button>
          </form>
        </div>
        </div>