{{!-- hero section start --}}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto ">
    
<div class="row">
  <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center-align-items-start flex-column">
<h1>WE WILL HELP YOU TO</h1>
<h1>GROW YOUR SKILLS</h1>
<P style="color: blue">We Are The Team Of <span class="bold-style">professional Developer ❤️✌️❤️✌️❤️</span></P>
<div class = "detail mt-0">
<p><span>(1) Live doubt sessions<br>(2) Pay only after securing a package of at least 5LPA.<br>(3) No prior coding skills required.<br>(4) Your placement, our responsibility<br>(5) Get familiar with tools: Version control system with git, Linux commands, Postman.<br>(6) Learn about the most used technologies used in backend: Node.js and DBMS.<br>(7) Dive in specialised tech of Advanced backend, cloud computing and caching.</span></p>
</div>
      <img src="images/illustrations.webp" class="img-fluid" alt="Responsive image">
<button class="btn-style  btn btn-primary">Read more</button>
  </div>

  {{!-- right side --}}
<div class="col-md-6 col-12 hero-text order-md-1 order-0">
  <figure>
    <img src="images/illus2.jpg" class="img-fluid" alt="Responsive image">
      <img src="images/pritesh sir.jpg" class="img-fluid" alt="Responsive image">
       <img src="images/payafterplace.jpg" class="payafter" alt="Responsive image">
        



  </figure>

</div>
</div>
    </div>
  </div>
</div>
{{!-- hero section ends --}}