<class="container-fluid mt-5 about-style" id="serviceid">
  {{!-- <div class="row">
    <div class="col-md-10 col-12 mx-auto"> --}}
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">We Are The Team To Help You To Go Into IT Sector</p>
<div class="row">
   <div class="col-md-4">
    <div class="box">
      {{!-- <div class="our-services settings"> --}}
        <div class="icon" >
          <img style="height: 160; width:280px" src="images/javascript.webp" alt="javascript image">
        </div>
        <div class="containt-box">
        <h4>Javascript</h4>
        <p>Deep dive into Javascript and its advance features.</p>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
   <div class="col-md-4">
    <div class="box">
      {{!-- <div class="our-services settings"> --}}
        <div class="icon" >
          <img style="height: 160; width:280px" src="images/mongodb.svg" alt="javascript image">
        </div>
        <div class="containt-box">
        <h4>Mongodb</h4>
        <p>Mongodb we use to store our data </p>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
   <div class="col-md-4">
    <div class="box">
      {{!-- <div class="our-services settings"> --}}
        <div class="icon" >
          <img style="height: 160; width:280px" src="images/nodd.png" alt="javascript image">
        </div>
        <div class="containt-box">
        <h4>NodeJs</h4>
        <p>Environment to write an api we use nodejs</p>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
   <div class="col-md-4">
    <div class="box">
      {{!-- <div class="our-services settings"> --}}
        <div class="icon" >
          <img style="height: 160; width:280px" src="images/dbms.webp" alt="javascript image">
        </div>
        <div class="containt-box">
        {{!-- <h4>DBMS</h4> --}}
        {{!-- <p>additional database</p> --}}
        </div>
      {{!-- </div> --}}
    </div>
  </div>
   <div class="col-md-4">
    <div class="box">
      {{!-- <div class="our-services settings"> --}}
        <div class="icon" >
          <img style="height: 160; width:280px" src="images/html.png" alt="javascript image">
        </div>
        <div class="containt-box">
        <h4>html and css</h4>
        <p>Get started! Learn the basics of web development: HTML, CSS and Javascript.</p>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
   <div class="col-md-4">
    <div class="box">
      {{!-- <div class="our-services settings"> --}}
        <div class="icon" >
          <img style="height: 160; width:280px" src="images/dynamic1.webp" alt="javascript image">
        </div>
        <div class="containt-box">
        <h4>Best Ed Tech Institute</h4>
        <p>FunctionUp is only the place where you can place</p>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
</div>